.MainTextBox {
  inline-size: min(700px, 100%);
  box-sizing: border-box;
  background-color: white;
  padding: 30px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  gap: 5px;
  .user_image_container {
    margin-inline: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
@media (max-width: 550px) {
  .MainTextBox {
    grid-template-columns: repeat(2, 1fr);
    .user_image_container {
      grid-row: 2;
      margin-left: 0;
    }
    .TextAreaComponent {
      grid-column: span 2;
    }
    .SendButtonComponent {
      display: flex;
      justify-content: flex-end;
      margin-right: 11px;
      grid-row: 2;
    }
  }
}
