.userInfo_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    .user_image_container {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .name_date {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      .user_name {
        font-weight: bold;
      }
      .date {
        color: gainsboro;
        font-size: x-small;
      }
    }
  }
}
@media (max-width: 550px) {
  .userInfo_container {
    .info {
      margin-bottom: 8px;
      .name_date {
        flex-direction: column;
        gap: 2px;
        p {
          margin: 0;
        }
      }
    }
  }
}
