.reply_container {
  /* inline-size: min(700px, 100%); */
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  gap: 5px;
  .VoteComponent {
    padding-top: 16px;
    height: fit-content;
  }
  .UserInfo {
  }
  .ReplyComponent {
    height: 28px;
  }

  .CommentContent {
    grid-column: span 2;
  }
}
@media (max-width: 550px) {
  .reply_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 7px 10px;
    .VoteComponent {
      padding-top: 0px;
      grid-row-start: 2;
      grid-column: 1;
    }
    .ReplyComponent {
      grid-row-start: 2;
      grid-column-start: 2;
      display: flex;
      justify-content: flex-end;
      align-items: end;
    }
    .UserInfo {
      grid-column: span 3;
    }
  }
}
