.queryErrorMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .queryErrorMessage_icon {
    width: 30px;
    height: 30px;
  }
}
