.comment_container {
  inline-size: min(700px, 100%);
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  gap: 5px;
  .VoteComponent {
    padding-top: 16px;
    height: fit-content;
  }
  .UserInfo {
  }
  .ReplyComponent {
    display: flex;
    justify-content: end;
    height: 28px;
    grid-column-start: 3;
  }

  .CommentContent {
    grid-column: span 2;
  }
  .delete_edit {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
  }
}
.rplyListContainer {
  inline-size: min(600px, 90%);
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: end;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -27px;
    background-color: lightgray;
    height: 100%;
    width: 2px;
    border-radius: 5px;
  }
}
.CustomTextBox {
  width: 100%;
}
@media (max-width: 550px) {
  .comment_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 7px 10px;
    .VoteComponent {
      padding-top: 0px;
      grid-row-start: 2;
      grid-column: 1;
    }
    .ReplyComponent {
      grid-row-start: 2;
      grid-column-start: 2;
      display: flex;
      justify-content: flex-end;
      align-items: end;
    }
    .UserInfo {
      /* grid-column: span 2; */
    }
  }
  .rplyListContainer {
    &::before {
      left: -15px;
    }
  }
}
