.ReplyList_container {
  inline-size: min(600px, 90%);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -27px;
    background-color: lightgray;
    height: 100%;
    width: 2px;
    border-radius: 5px;
  }
}
