.btn {
  color: white;
  background-color: purple;
  border-radius: 4px;
  padding: 6px 16px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  height: fit-content;
}
