.btn {
  width: 104px;
  color: white;
  background-color: purple;
  border-radius: 4px;
  padding: 6px 16px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  height: fit-content;
  &:disabled {
    background-color: rgba(128, 0, 128, 0.1);
  }
}
